* {
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 88.91px;
}

.header {
  height: 88.91px;
  width: 1100px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 1100px;
  height: 38.91px;
  display: flex;
  justify-content: space-between;
}

.navbarleft {
  width: 745.34px;
  height: 38.91px;
  display: flex;
  justify-content: space-around;
}

.navbarleft img {
  width: 119px;
  height: 38.91px;
}

.navbar1 {
  width: 556.34px;
  height: 22px;
  margin-left: 20px;
  display: flex;
}

.searchlogo {
  width: 50;
  height: 24.5;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.searchlogo1 {
  width: 20px;
  height: 24.5px;
}

.ukline {
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal 14px / 22px Helvetica Neue, sans-serif, Arial;
  font-size: 15px;
  font-weight: 700;
}

.hide {
  display: none;
  z-index: 10;
}

.hide1 {
  display: none;
  z-index: 10;
}

.hide2 {
  display: none;
  z-index: 10;
}

.hide3 {
  display: none;
  z-index: 10;
}

.ukline:hover+.hide3 {
  display: flex;
  width: 400px;
  height: 250px;
  position: absolute;
  top: 40px;
  transition: all 0.4s;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ukline:hover+.hide2 {
  display: flex;
  width: 220px;
  height: 180px;
  position: absolute;
  top: 40px;
  transition: all 0.4s;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ukline:hover+.hide1 {
  display: flex;
  width: 370px;
  height: 290px;
  position: absolute;
  top: 40px;
  transition: all 0.4s;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ukline:hover+.hide {
  display: flex;
  width: 500px;
  height: 350px;
  position: absolute;
  top: 40px;
  transition: all 0.4s;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bi-chevron-down {
  width: 15px;
}

.hovertext1 {
  font-size: 20px;
  font-weight: 700;
}

.navbarrigth {
  width: 270.52px;
  height: 50px;
  position: relative;
  top: -12px;
  display: flex;
}

.navbarrigthco {
  display: flex;
}

.navbarrigth1 {
  width: 55.05px;
  height: 50px;
  margin-right: 30px;
}

.navbarrigth2 {
  width: 72.05px;
  height: 50px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.navbarrigth3 {
  width: 83.43px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.navbarrigth1-1 {
  width: 60.05px;
  height: 20px;
  font-size: 13px;
}

.navbarrigth1-2 {
  width: 55.05px;
  height: 35px;
  display: flex;
}

.navbarrigth1-3 {
  width: 15.02px;
  height: 30px;
}

.navbarrigth1-5 {
  height: 20px;
  width: 120px;
  font-size: 12px;
}

.exchange {
  width: 83.43;
  height: 30px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.moneygreen {
  color: #2adb00;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  width: 10.02;
  height: 21.5;
  font-size: 20px;
}

.slash {
  width: 4px;
  height: 21.5px;
  color: grey;
}

.tugrug {
  width: 117px;
  height: 43px;
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: 600;
}

.mainer {
  width: 1100px;
  height: 768px;
  margin-top: 15px;
}

.mainerhead {
  width: 1100px;
  height: 385px;
  display: flex;
}

.mainerfoot {
  width: 1100px;
  height: 333px;
  margin-top: 30px;
  padding-bottom: 50px;
}

.mainheadleft {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-image: linear-gradient(to right, #f4f4f4, white);
}

.mainheadlefttext {
  width: 542.5;
  height: 265px;
}

.mainheadrigthimg {
  height: 385px;
  width: 542.5px;
  position: relative;
}

.mainheadrigthimg1 {
  height: 385px;
  width: 542.5px;
  scale: 1;
}

.paddingleft40 {
  height: 320px;
  width: 542.5px;
}

.mainheadleftbox {
  height: 30px;
  width: 70px;
  background-image: linear-gradient(to right, #cd2525, #dc6e10);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.mainheadrigthimg {
  overflow: hidden;
}

.sharebutton img {
  height: 16px;
  width: 16px;
}

.sharebutton1 {
  width: 80px;
  height: 34px;
  background-color: #f0efef;
  border-radius: 20px;
}
.sharebutton1:hover {
  width: 100px;
  height: 34px;
  background-color: #f0efef;
  border-radius: 20px;
  
  
}
.sharebutton {
  margin-left: 13px;
  margin-bottom: 5px;
}

.mainheadrigthimghidetext {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.mainheadrigthimghide2 {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0%;
  left: 0%;
}

.mainheadrigthimg:hover .mainheadrigthimghide2 {
  opacity: 0.3;
  transition: 1s;
}

.mainheadrigthimg:hover .mainheadrigthimghidetext {
  opacity: 1;
  transition: all 1s ;
}

.mainheadrigthimg:hover .mainheadrigthimg1 {
  scale: 1.1;
  transition: 1s;
}

.sharebutton:hover img {
  rotate: 45deg;
}

.main2 {
  width: 1484px;
  height: 280.5px;
}

.main3-1 {
  padding-left: 40px;
  padding-right: 40px;
}

.main3title {
  width: 1100px;
  height: 25px;

  display: flex;
  margin-bottom: 20px;
}

.GOlogo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.Gologo2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 170.8px;
  height: 84px;
  padding: 10px;
}

.storytitle {
  width: 150.8px;
  height: 37px;
  margin-bottom: 5px;
  color: white;
  overflow: hidden;
  font-size: small;
}

.seeresult {
  position: absolute;
  bottom: 10px;
  height: 22px;
  width: 150.8px;
  color: white;
  font-size: medium;
}

.gogo-img:hover+.storytitle {
  width: 250px;
}

.contentbody {
  width: 100%;
  height: 3309.37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentbody2 {
  width: 1180px;
  height: 3209.37px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.daycalendar {
  width: 730px;
  height: 39px;
}

.calendar {
  width: 755px;
  height: 29px;
}

.calendar2 {
  width: 740px;
  height: 29px;
  display: flex;
}

.calendar2-1 {
  width: 103.81px;
  height: 60.87px;
  margin-top: -23px;
}

.calendar2-2 {
  width: 103.81px;
  height: 26.87px;
  margin-bottom: 5px;
  color: #407ce8;
  display: flex;
}

.calendar2-2 img {
  margin-left: 7px;
  margin-bottom: 5px;
}

.calendar2-3 {
  width: 103.81px;
  height: 7px;
  border-radius: 10px;
  background-color: #407ce8;
}

.calendar2-4 {
  width: 103.81px;
  height: 22px;
  border-radius: 10px;
  color: #407ce8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}

.calendar3 {
  width: 118.81px;
  height: 29px;
  padding-left: 15px;
  margin-top: 13px;
}
.calendar3:hover .calendar3-1 {
  background-color: #407CE8;
  transition: all 0.5s;
  
}
.calendar3:hover .calendar3-2 {
  color: #407CE8;
}
.calendar3-1 {
  width: 103.81px;
  height: 7px;
  border-radius: 10px;
  background-color: #efefef;
}

.calendar3-2 {
  width: 103.81px;
  height: 22px;
  border-radius: 10px;
  color: #b7b6b6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}

.story-card {
  overflow: hidden;
}

.story-card:hover .gogo-img {
  transform: scale(1.1);
}

.story-card:hover .storytitle {
  height: 50px;
  margin: 0;
  transform: translateY(-20px);
}

.story-card .gogo-img {
  transition: all 0.5s;
}

.story-card .storytitle {
  transition: all 0.5s;
}

.contentbodyleft {
  width: 690px;
  height: 3239.37px;
}

.contentbodyleftbody {
  width: 690px;
  height: 3160.37px;
  margin-top: 40px;
}

.bodytext10-1 {
  width: 690px;
  height: 150px;
  display: flex;
}

.bodytextrigth {
  width: 210px;
  height: 150px;
}

.bodytextleft {
  width: 480px;
  height: 150px;
  padding-left: 30px;
}

.bodytextlefttext {
  width: 450px;
  height: 26px;
  font-size: 20px;
}

.bodytextlefttext2 {
  width: 450px;
  height: 46px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #888888;
  font-size: 14px;
}

.bodytextlefttext3 {
  width: 450px;
  height: 22px;
  display: flex;
}

.bodytextlefttext3-1 {
  width: 29.57px;
  height: 22px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
}

.bodytextrigthhide {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}

.bodytextrigth {
  overflow: hidden;
  position: relative;
}

.bodytextrigthtext {
  top: 45%;
  left: 40%;
  position: absolute;
  opacity: 0;
  color: white;
}

.bodytextrigth:hover .bodytextrigthtext {
  opacity: 1;
  transition: all 1s;
}

.bodytextrigth:hover .bodytextrigthhide {
  opacity: 0.2;
  transition: all 1s;
}

.bodytextrigth:hover img {
  scale: 1.1;
  transition: all 1s;
}

.sanalasuulga {
  width: 690px;
  height: 322px;
  background-color: #297df0;
  padding: 20px;
}

.sanalasuulgatext {
  width: 650px;
  height: 48px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.sanalasuulga2 {
  width: 650px;
  height: 182px;
}

.sanaltoo {
  width: 650px;
  height: 22px;
  margin-top: 10px;
  color: #ffffff;
}

.sanalasuulga2-1 {
  width: 665px;
  height: 75px;
  display: flex;
  position: relative;
}

.sanalasuulga2-2 {
  width: 575px;
  height: 75px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  background-color: #4388f0;
}

.sanalasuulga2-3 {
  width: 75px;
  height: 25.13px;
  padding-left: 15px;
  margin-top: 25px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sanalasuulga2-3 img {
  width: 13px;
  height: 25.13px;
}

.huvi {
  width: 25.35px;
  height: 20px;
  color: white;
}

.huviback {
  width: 477.25px;
  height: 75px;
  background-color: #7eabf5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
}

.huviback2 {
  width: 63px;
  height: 53px;
  background-color: #7eabf5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
}

.huviback3 {
  width: 23px;
  height: 53px;
  background-color: #7eabf5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
}

.sanalasuulga2-1-1 {
  width: 665px;
  height: 53px;
  display: flex;
  position: relative;
}

input {
  z-index: 2;
}

.bodyleftend {
  width: 690px;
  height: 65.37px;
  background-color: #f8f8f8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarend {
  width: 27px;
  height: 27px;
  background-color: #efefef;
  border-radius: 4px;
  margin-top: 12px;
  margin-left: 10px;
}

.contentbodyrigth {
  height: 3259.37px;
  width: 340px;
  border-left: 1px #f5f5f5 solid;
}

.contentbodyrigth2 {
  height: 1190.33px;
  width: 290px;
  margin-left: 50px;
  margin-top: 10px;
}

.contentrigthfirsttext {
  width: 290px;
  height: 30.33px;
  margin-bottom: 50px;
  display: flex;
}

.contentbodyfirst {
  width: 290px;
  height: 245px;
  margin-bottom: 30px;
}

.contentbodyfirst img {
  width: 290px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.contentbodyrigth .bodytextlefttext {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gogozuraghide {
  position: absolute;
  opacity: 0;
  width: 290px;
  height: 150px;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: black;
}

.gogozuraghidetext {
  position: absolute;
  top: 43%;
  left: 43%;
  opacity: 0;
  display: flex;
  color: white;
}

.gogozuraghide1:hover .gogozuraghide {
  opacity: 0.2;
  transition: all 1s;
  transform: none;
}

.gogozuraghide1:hover .gogozuraghidetext {
  opacity: 1;
  transition: all 1s;
  transform: none;
}

.yariltslaga {
  width: 1180px;
  height: 548.31px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 60px;
}

.yaria {
  width: 1100px;
  height: 27.31px;
  margin-bottom: 20px;
  display: flex;
}

.yariazurag {
  width: 1100px;
  height: 501px;
  display: flex;
}

.yariazuragdotorzuun {
  width: 542.5px;
  height: 501px;
  position: relative;
  overflow: hidden;
}

.yariazuragdotorbaruun {
  width: 557.5px;
  height: 501px;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 8px;
}

.yariazuragdotorzuun img {
  width: 542.5px;
  height: 501px;
  object-fit: cover;
  border-radius: 8px;
}

.gogoegchtext {
  width: 542.5px;
  height: 190px;
  padding: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.gogoegchtextdeed {
  background-color: #407ce8;
  width: 105px;
  height: 25px;
  font-size: 11px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.gogoegchtextdund {
  color: white;
  font-size: 22px;
  margin-top: 14px;
}

.gogoegchtextfoot {
  width: 482.5px;
  height: 33px;
  margin-top: 10px;
  padding-top: 10px;
  color: white;
  border-top: 2px solid hsla(0, 0%, 100%, 0.15);
}

.yariazuragdotorzuun:hover img {
  scale: 1.1;
  transition: all 0.6s;
}

.yariazuragbox1 {
  width: 263.75px;
  height: 243px;
  position: relative;
}

.yariazuragbox1 img {
  width: 263.75px;
  height: 243px;

  object-fit: cover;
  border-radius: 8px;
}

.contentbodyfoot {
  width: 340px;
  height: 1436.33px;

  background-color: #fcfaf4;
}

.contentbodyfootfirst {
  width: 340px;
  height: 88.33px;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600px;
}

.contentbodyfootfirst img {
  width: 22px;
  height: 26px;
}

.contentbodybody {
  width: 270px;
  height: 112px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.06);
  display: flex;
}

.contentbodymargin50 {
  width: 340px;
  height: 1348px;
  display: flex;
  padding-bottom: 50px;

  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.contentbodytoo {
  width: 25.578px;
  height: 91px;
  color: #df0234;
  margin-right: 15px;
  font-size: 43px;
  font-weight: 600;
}

.contentbodytootext {
  width: 229.422px;
  height: 91px;
}

.contentbodytootext2 {
  height: 66px;
  width: 229.422px;
  font-size: 16px;
}

.contentbodytootext3 {
  height: 20px;
  width: 229.422px;
  margin-top: 5px;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  justify-content: space-around;
}

.contentbodytootext3 img {
  color: white;
  width: 12px;
  height: 12px;
}

.contentbodybody:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.yariazuragboxtext {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 263px;
  height: 86px;
  padding: 20px;
  overflow: hidden;
  margin-bottom: 10px;
}

.gogoegchtextdeed2 {
  background-color: #407ce8;
  width: 79px;
  height: 17px;
  font-size: 13px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.gogoegchtextdund2 {
  color: white;
  font-size: 14px;
  margin-top: 6px;
  width: 223.75px;
  height: 55px;
}

.yariazuragbox1:hover img {
  scale: 1.1;
  transition: all 1s;
}

.yariazuragbox1 {
  overflow: hidden;
}

.yariazuragbox1:hover .yariazuragboxtext {
  height: 120px;
  transition: all 1s;
}

.gogohevmayg {
  width: 1100px;
  height: 405.5px;
  margin-top: 60px;
}

.hevmaygbox {
  width: 1100px;
  height: 360px;
  display: flex;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  gap: 15px;
}

.hevmaygbox1 {
  width: 278.75px;
  height: 360px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.hevmaygbox1 img {
  width: 263.75px;
  height: 230px;
  object-fit: cover;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.hevmaygboxzurag {
  width: 263.75px;
  height: 230px;
  object-fit: cover;
}

.hevmayghide {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  opacity: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blackscreen {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.hevmaygboxzurag:hover .hevmayghide {
  opacity: 1;
  transition: all 0.6s;
}

.hevmaygboxzurag:hover .blackscreen {
  opacity: 0.4;
  transition: all 0.6s;
}

.hevmaygboxdood {
  width: 263.75px;
  height: 130px;
  padding: 10px;
  border: #f1f1f1 1px solid;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.textbox12 {
  width: 241.75px;
  height: 72px;
  font-size: 18px;
}

.hevmaygboxdood1 {
  width: 241.75px;
  height: 21px;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #f2f2f2;
  display: flex;
  justify-content: start;
  align-items: center;
}

.hevmaygboxdood1 img {
  width: 12px;
  height: 12px;
}

.tehno {
  width: 1100px;
  height: 347.83px;
  margin-top: 60px;
}

.tehnodeed {
  width: 1100px;
  height: 27.83px;
  margin-bottom: 20px;
  display: flex;
}

.tehnodeed img {
  width: 23px;
  height: 25px;
}

.tehnodood {
  width: 1100px;
  height: 300px;
  display: flex;
  gap: 15px;
}

.tehnodoodbox {
  width: 278.75px;
  height: 300px;
}

.tehnodoodbox2 {
  width: 263.75px;
  height: 170px;
}

.tehnodoodbox2 img {
  width: 263.75px;
  height: 170px;
  object-fit: cover;
}

.blackscreen2 {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tehnodoodbox2:hover .blackscreen2 {
  opacity: 0.4;
  transition: all 0.6s;
}

.tehnodoodboxhide {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  opacity: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tehnodoodbox2:hover .tehnodoodboxhide {
  opacity: 1;
  transition: all 0.6s;
  scale: 1.1;
}

.comic {
  width: 1100px;
  height: 378.83px;
  margin-top: 60px;
}

.comicdeed {
  width: 1100px;
  height: 28.83px;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.comicdood {
  width: 1100px;
  height: 330px;
  display: flex;
  gap: 15px;
}

.comicdood1 {
  width: 542.5px;
  height: 330px;
}

.comicdood2 {
  width: 542.5px;
  height: 330px;
}

.comichoverdood {
  width: 542.5px;
  height: 130px;
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sharecomment {
  width: 520.5px;
  height: 26px;
  margin-top: 10px;
  padding-top: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-top: 1px solid #f2f2f2;
}

.comicdoodhide {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  opacity: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comichoverzurag:hover .comicdoodhide {
  opacity: 1;
  transition: all 1s;
}

.comichoverzurag:hover .blackscreen2 {
  opacity: 0.3;
  transition: all 1s;
}

.comichoverzurag:hover img {
  transform: scale(1.1);
  transition: all 1s;
  background-color: red;
}

.blackbackground {
  background-color: #1a1a1a;
  width: 100%;
  height: 767.84px;
  margin-top: 60px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ukcontainer {
  width: 1100px;
  height: 717.84px;
}

.containerdeed {
  width: 1100px;
  height: 374.84px;
}

.containerdeeduzeh {
  width: 81.81px;
  height: 21.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerdeed2 {
  width: 1100px;
  height: 323px;
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.firstcontain {
  width: 263.75px;
  height: 323px;
  padding-bottom: 50px;
}

.sharecontain {
  height: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.containhide2 {
  top: 0;
  left: 0;
}

.containhider {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  opacity: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containhide:hover .containhider {
  opacity: 1;
  transition: all 1s;
}

.containhide:hover .blackscreen3 {
  opacity: 0.3;
  transition: 1s;
}

.containhide:hover .img1010 {
  scale: 1.1;
  transition: all 1s;
}

.blackscreen3 {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 8px;
}

.containhide {
  width: 263.75px;
  height: 170px;
  overflow: hidden;
  border-radius: 8px;
}

.img1010 {
  scale: 1;
}

.foot {
  width: 100%;
  height: 247.65px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer {
  width: 1100px;
  height: 147.65px;

}

.footer1 {
  width: 1100px;
  height: 65.25px;
  display: flex;
}

.footerlogo {
  width: 149.961px;
  height: 65.25px;
}

.footerbaruun {
  width: 949.836px;
  padding-left: 40px;
  display: flex;

}

.a {
  width: 129.37px;
  height: 22.63px;
  margin-left: 30px;
  margin-bottom: 10px;
  display: flex;
}

.footer2 {
  width: 1100px;
  border: 1px solid #f8f8f8;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer3 {
  width: 1100px;
  height: 21.4px;
}

.facebook1:hover {
  opacity: 1;
}